<mat-dialog-content [style.width]="'450px'">
  <div class="container">
    <div class="row">
      <h6 class="display-6 text-dark">Zgłoś błąd</h6>
    </div>
    <div class="row">
      <form [formGroup]="reportBugForm">
        <div class="row mt-3">
          <label class="form-label" for="title">Tytuł</label>
          <div class="input-group">
            <input id="title" class="form-control" type="text" placeholder="Wpisz tytuł błędu" formControlName="title">
          </div>
        </div>

        <div class="row mt-3">
          <label class="form-label" for="description">Opis</label>
          <div class="input-group">
            <textarea id="description" class="form-control" formControlName="description"></textarea>
          </div>
        </div>

        <div class="row mt-3">
          <label class="form-label" for="bugType">Wybierz rodzaj błędu</label>
          <div class="input-group">
            <select class="form-select" id="bugType" formControlName="bugType">
              <option selected value="LOGICAL">Logiczny</option>
              <option value="SECURITY">Bezpieczeństwa</option>
              <option value="SYNDAX">Składniowy</option>
              <option value="COMMUNICATION">Komunikacji</option>
              <option value="CALCULATION">Obliczeniowy</option>
              <option value="FUNCTIONAL">Funkcjonalny</option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="row mt-5 mb-4 justify-content-md-between">
      <div class="col-md-4">
        <button (click)="close()" class="btn btn-dark">Zamknij</button>
      </div>

      <div class="col-md-4 text-end">
        <button (click)="submitForm()" class="btn btn-primary">Zgłoś</button>
      </div>
    </div>
  </div>
</mat-dialog-content>
