<div class="container mt-5 mb-5">
  <div class="row border-bottom mb-3">
    <h3 class="display-5">Zgłoszone błędy</h3>
  </div>
  <div *ngIf="task.status !== 'FINISHED'" class="row justify-content-md-center">
    <div class="col-md-4 text-center">
      <button class="btn btn-danger" (click)="showBugReportForm()">Zgłoś błąd</button>
    </div>
  </div>
  <div *ngIf="lastLoadedPageSize > 0; else emptyBugList" class="row mt-3 mb-3 justify-content-md-center">
    <div class="col-md-10 border-bottom">
      <div class="row p-3 bg-dark text-light">
        <div class="col-md-4">
          <p class="m-0"><b>Nazwa błędu</b></p>
        </div>
        <div class="col-md-4 text-center">
          <p class="m-0"><b>Rodzaj błędu</b></p>
        </div>
        <div class="col-md-4 text-center">
          <p class="m-0"><b>Data zgłoszenia</b></p>
        </div>
      </div>
      @for (bug of reportedBugs; track bug; let i = $index) {
        @if (i % 2 == 0) {
          <div (click)="showDetails(bug)" class="row align-items-center p-2 cursor-pointer bg-light text-dark">
            <div class="col-md-4">
              <p class="m-0">{{ bug.title }}</p>
            </div>
            <div class="col-md-4 text-center">
              <p class="m-0">{{ bug.bugType }}</p>
            </div>
            <div class="col-md-4 text-center">
              <p class="m-0">{{ bug.reportDate | date:"yyyy-MM-dd" }}</p>
            </div>
          </div>
        } @else {
          <div (click)="showDetails(bug)" class="row align-items-center p-2 cursor-pointer bg-dark text-light">
            <div class="col-md-4">
              <p class="m-0">{{ bug.title }}</p>
            </div>
            <div class="col-md-4 text-center">
              <p class="m-0">{{ bug.bugType }}</p>
            </div>
            <div class="col-md-4 text-center">
              <p class="m-0">{{ bug.reportDate | date:"yyyy-MM-dd" }}</p>
            </div>
          </div>
        }
      }
    </div>
  </div>

  <ng-template #emptyBugList>
    <div class="row">
      <p class="text-info">Lista błędów aktualnie jest pusta</p>
    </div>
  </ng-template>
</div>
