<div class="container">
  <div class="row">
    <div class="col">
      Komentarze
    </div>
    <app-add-comment (emitter)="addComment($event)"></app-add-comment>
  </div>
  <div class="row mt-3">
    <div *ngFor="let comment of comments" class="col-md-10 mb-md-2 border-bottom">
      <div class="row justify-content-md-between">
        <div class="col-md-6">
          <p class="text-black">{{comment.username}}</p>
        </div>
        <div class="col-md-4">
          <p class="text-secondary text-end">{{comment.date | date:"yyyy-MM-dd"}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <p class="text-dark">{{comment.text}}</p>
        </div>
        <div class="col-md-2 text-end">
          <a *ngIf="canDelete(comment)" [matMenuTriggerFor]="settings" class="settings-btn">
            <i class="material-icons">more_vert</i>
          </a>
          <mat-menu #settings="matMenu">
            <a mat-menu-item class="text-bg-danger" (click)="removeComment(comment)">Usuń</a>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>

</div>
