<div class="container p-4">
  <div class="row border-bottom justify-content-end">
    <div class="col-md-8">
      <h3>Informacje o błędzie</h3>
    </div>
    <div class="col-md-4 text-end">
      <button class="close-btn" (click)="closeDialog()"><i class="bi bi-x"></i></button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-8 border-end">
      <div class="row">
        <div class="col">
          <h4>{{ bug.title }}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="m-0"><b>Id: </b><span class="text-primary">{{ bug.serialNumber }}</span></p>
        </div>
        <div class="row">
          <div class="row">
            <div class="col">
              <p class="m-0"><b>Opis</b></p>
            </div>
          </div>
          <div class="row">
            <p class="text-secondary">{{ bug.description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="m-0"><b>Rodzaj błędu:</b> {{ bug.bugType }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="m-0"><b>Data zgłoszenia:</b> {{ bug.reportDate | date: "yyyy-MM-dd HH:mm" }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4">
          <p><b>Id zadania:</b></p>
        </div>
        <div class="col-md-6">
          <p class="text-primary">{{ bug.task?.taskCode }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p><b>Zgłoszono przez</b></p>
        </div>
        <div class="col-md-6">
          <p>{{ bug.username }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p><b>Status</b></p>
        </div>
        <div class="col-md-6 text-center">
          <div *ngIf="bug.fixedDate; else redFlag" class="row p-2 bg-green rounded-4"><p class="m-0">Naprawiono</p>
          </div>
          <ng-template #redFlag>
            <div class="row p-2 bg-danger rounded-4"><p class="m-0">Nie naprawiono</p></div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
