<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <header class="header">
        <h1 class="display-6">{{ project.name }}</h1>
      </header>
      <div class="row mt-5">
        <p><b>Opis:</b> {{ project.description }}</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-between mt-md-5 mb-5">
    <div class="col-md-5">
      <div class="row border-bottom">
        <h3>Zadania</h3>
      </div>
      <div class="row mt-3 justify-content-md-between">
        <canvas id="chart" width="300" height="300"></canvas>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row border-bottom">
        <h3>Informacje o projekcie</h3>
      </div>
      <div class="row mt-3">
        <div class="row">
          <div routerLink="users" class="col-md-6 p-3 users cursor-pointer text-center">
            <div class="row">
              <p class="display-3">{{ projectMembersSize }}</p>
            </div>
            <div class="row">
              <p class="text-dark"><b>Użytkowników</b></p>
            </div>
          </div>
          <div routerLink="tasks" class="col-md-6 p-3 tasks cursor-pointer text-center">
            <div class="row">
              <p class="display-3">{{ totalTasks }}</p>
            </div>
            <div class="row">
              <p><b>Zadania</b></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 p-3 start-date-info cursor-pointer">
            <div class="row">
              <p class="display-5 mb-0">{{ project.startDate | date:"yyyy" }}</p>
              <p class="display-5">{{ project.startDate | date:"MM-dd" }}</p>
            </div>
            <div class="row text-center">
              <p class="text-dark"><b>Data rozpoczęcia</b></p>
            </div>
          </div>
          <div class="col-md-6 p-3 finish-date-info cursor-pointer">
            <div *ngIf="project.finishDate; else noData" class="row">
              <p class="display-5 mb-0">{{ project.finishDate | date:"yyyy" }}</p>
              <p class="display-5">{{ project.finishDate | date:"MM-dd" }}</p>
            </div>
            <ng-template #noData>
              <div class="row">
                <p class="display-5 text-dark">Nie określono</p>
              </div>
            </ng-template>
            <div class="row text-center align-content-end">
              <p class="text-dark"><b>Data zakończenia</b></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div routerLink="project-status" class="col-md-12 p-3 project-status-info text-center cursor-pointer">
            <div class="row">
              <p class="display-5">{{ project.projectStatus }}</p>
            </div>
            <div class="row text-center">
              <p class="text-dark"><b>Status projektu</b></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div (click)="showBugs()" class="col-md-12 text-center number-of-bugs-info cursor-pointer">
            <div class="row">
              <p class="display-3">{{ numberOfBugsToFix }}</p>
            </div>
            <div class="row text-center">
              <p class="text-dark"><b>Zgłoszonych błędów</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
