.main-container{
  display: flex;
  font-family: "Arial Narrow", sans-serif;
}
.left-content-project-info{
  flex: 1;
}

.right-content-project-info{
  flex:2;
  display: flex;
  height: 300px;
}

.task-chart{
  width: 50%;
}

.users-info{
  flex:1;
  height: 500px;
}

.project-info{
  margin-top: 48px;
  font-size: 12px;
}
.project-info p{
  margin-top:2px;
  margin-bottom: 6px;
}
.right-content-title{
  text-align: center;
}

.cursor-pointer{
  cursor: pointer;
}

.users{
  background-color: #08c26c;
  transition: background-color .2s;
}

.users:hover{
  background-color: #07b15b;
}

.tasks{
  background-color: #6C8DFF;
  transition: background-color .2s;
}

.tasks:hover{
  background-color: #5b7cee;
}

.start-date-info{
  background-color: #ff8b43;
  transition: background-color .2s;
}

.start-date-info:hover{
  background-color: #ee7a32;
}

.finish-date-info{
  background-color: #b446ff;
  transition: background-color .2s;
}

.finish-date-info:hover{
  background-color: #a335ee;
}

.project-status-info{
  background-color: #ffcd32;
  transition: background-color .2s;
}

.project-status-info:hover{
  background-color: #eebc21;
}

.number-of-bugs-info{
  background-color: #ff4a46;
}

.number-of-bugs-info:hover{
  background-color: #ee3935;
}
