.hover-div{
  transition: background-color .2s ease-in-out;
}
.hover-div:hover{
  cursor: pointer;
  background-color: #eee;
  color: #222222;
}

.settings-btn{
  color: #222222;
}

.button-nav-clicked{
  color:#fff;
  transition: background-color .2s;
}

.button-nav-clicked:hover {
  background-color: #222222;
  !important color: white;
}
