<mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h4>Data ukończenia projektu</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        {{this.projectDate.getDate()}}
      </div>
      <div class="col-md-4 text-center">
        {{this.projectDate.getMonth() + 1}}
      </div>
      <div class="col-md-4 text-center">
        {{this.projectDate.getFullYear()}}
      </div>
    </div>
  </div>
</mat-dialog-content>
