<div class="col m-3">
  <div class="card">
    <div class="card-body">
      <div class="card-header mb-3">
        <h5 class="card-title">{{project.name}}</h5>
      </div>
      <div class="row">
        <div class="row mb-4">
          <p class="card-text">{{project.description}}</p>
        </div>
        <div class="row justify-content-md-between">
          <div class="col-md-8">
            <button class="btn btn-primary" (click)="goToProject()">
            Przejdź do projektu
            </button>
          </div>

          <div class="col-md-4 text-end p-0">
            <button class="btn btn-danger" (click)="removeProject()">Usun</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
